.cards{
    height: 293px;
    width: 270px;
    border-radius: 10px;
    /* border: 1px solid black; */
    overflow: hidden;
    cursor: pointer;
}
.cards:hover{
    border: 0.1px solid black;
}
.cards > img{
    height: 55%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.cards > h2{
    margin-top: 1px;
    padding-left: 10px;
    margin-top: 5px;
}
.cards > h3{
    margin-top: 1px;
    padding-left: 10px;
    margin-top: 5px;
}
.cards > h5{
    margin-top: 1px;
    padding-left: 10px;
    margin-top: 5px;
}
.cards > h6{
    margin-top: 1px;
    padding-left: 10px;
    margin-top: 5px;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: auto;
    width: 80%;
    margin-top: 1rem;
    flex-wrap: wrap;
}
.searchInput{
    margin-top: 1%;
}
.searchInput > input{
    font-size: 1rem;
    padding: 10px;
    padding-right: 30px;
    border-radius: 10px;
    border: 0.2px solid black;
}
.searchInput > button{
    margin-left: 10px;
    font-size: 1rem;
    padding: 10px 25px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 0.2px solid black;
    cursor: pointer;
}


@media (max-width:600px){
    .searchInput > input{
        padding-right: 0px;
    }
}